<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Slim3 Starter MVC</title>

    <link href="{{ base_url() }}/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/linearicons/dist/web-font/style.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/metismenu/dist/metisMenu.css" rel="stylesheet">

    <link href="{{ base_url() }}/assets/css/admin/sb-admin-2.css" rel="stylesheet">
    <link href="{{ base_url() }}/assets/css/admin.css" rel="stylesheet"> {% block addheader %}{% endblock %}
</head>

<body class="">
    <div id="wrapper">
        <!-- Navigation -->
        <header class="align-items-start app-header flex-column flex-md-row navbar navbar-expand-md navbar-light">
            <div class="align-items-baseline d-flex flex-row navbar-brand p-lg-3 pl-3 pr-3 pt-3">
                <a class="" href="{{ path_for('admin_home') }}">Slim Starter MVC</a>
                <button class="collapsed ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#side-menu-wrapper" aria-controls="side-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <ul class="nav navbar-nav ml-md-auto flex-row navbar-top-links">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-user">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-user fa-fw"></i> Profil
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-gear fa-fw"></i> Paramètres
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-sign-out fa-fw"></i> Déconnexion
                        </a>
                    </div>
                </li>
            </ul>
        </header>

        <div class="d-md-flex">
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
                    <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
                        <li class="list-group-item">
                            <a href="{{ path_for('admin_home') }}">
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> Utilisateurs
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-second-level list-group nested">
                                <li class="list-group-item">
                                    <a href="{{ path_for('admin_user_list') }}">Liste des utilisateurs</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path_for('admin_user_new') }}">Ajouter un utilisateur</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="list-group-item">
                            <a href="{{ base_url() }}">
                                <i class="fa fa-external-link fa-fw"></i> Voir le site
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

            <!-- Page Content -->
            <div id="page-wrapper" class="p-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ base_url() }}/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="{{ base_url() }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/node_modules/metismenu/dist/metisMenu.js"></script>

    <script src="{{ base_url() }}/assets/js/admin/sb-admin-2.js"></script>
    <script src="{{ base_url() }}/assets/js/app.js"></script>

    {% block addfooter %}{% endblock %}
</body>

</html>