<!doctype html>
<html lang="fr">
<head>
    <title>Slim 3</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="{{ base_url() }}/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css"> {% block addheader %}{% endblock %}
    <link href="{{ base_url() }}/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'partials/navbar.twig' %}
    </header>

    <div id="main">
        {% include 'partials/flash.twig' %}
        {% block content %}{% endblock %}
    </div>

    <script src="{{ base_url() }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ base_url() }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="{{ base_url() }}/assets/js/app.js"></script>

    {% block addfooter %}{% endblock %}
</body>
</html>
