<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard - {{ app_settings.site_name.value }}</title>

    <link href="{{ base_url() }}/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/linearicons/dist/web-font/style.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/metismenu/dist/metisMenu.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="{{ base_url() }}/node_modules/lightbox2/dist/css/lightbox.min.css" rel="stylesheet">

    <link href="{{ base_url() }}/assets/css/admin.css" rel="stylesheet">
    <link href="{{ base_url() }}/assets/css/main.css" rel="stylesheet">

    {% block addheader %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path_for('admin_home') }}">{{ app_settings.site_name.value }}</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i>&nbsp; {{ auth.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-user">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user fa-fw"></i> Profil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path_for('auth_signout') }}">
                        <i class="fa fa-sign-out fa-fw"></i> Déconnexion
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_home') }}">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_setting') }}">
                                <span data-feather="settings"></span>
                                Réglages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ base_url() }}">
                                <span data-feather="external-link"></span>
                                Voir le site
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Utilisateurs</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_user_list') }}">
                                <span data-feather="users"></span>
                                Liste des utilisateurs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_user_new') }}">
                                <span data-feather="user-plus"></span>
                                Ajouter un utilisateur
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Médias</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_media_list') }}">
                                <span data-feather="folder"></span>
                                Liste des médias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin_media_upload') }}">
                                <span data-feather="file-plus"></span>
                                Ajouter un média
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="page-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 util-border-bottom">
                    <h1 class="h2">
                        {% block TitlePage %}{% endblock %}
                    </h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        {% block BtnPage %}{% endblock %}
                    </div>
                </div>

                {% include 'partials/flash.twig' %}

                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script src="{{ base_url() }}/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="{{ base_url() }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/node_modules/metismenu/dist/metisMenu.js"></script>
    <script src="{{ base_url() }}/node_modules/dropzone/dist/dropzone.js"></script>
    <script src="{{ base_url() }}/node_modules/lightbox2/dist/js/lightbox.min.js"></script>

    <script src="{{ base_url() }}/assets/js/admin/admin.js"></script>
    <script src="{{ base_url() }}/assets/js/app.js"></script>

    {% block addfooter %}{% endblock %}

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>
